<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="zone" class="forme">
            <div class="badges">
                <span class="badge badge-dark" jhiTranslate="gatewayApp.transportZone.detail.title">Details</span>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <div class="card jh-card">
                <div class="row jh-entity-details text-center">
                    <div class="col-md-6">
                        <span class="font-weight-bold" jhiTranslate="gatewayApp.transportZone.libelle">Libelle</span> :
                        <span style="font-family: 'Comic Sans MS';color: green">{{ zone.libelle }}</span>
                    </div>
                    <div class="col-md-6">
                        <span  class="font-weight-bold" jhiTranslate="gatewayApp.transportZone.description">Description</span> :
                        <span style="color: green; font-family: 'Comic Sans MS'">{{ zone.description }}</span>
                    </div>
                </div>
            </div>

            <hr>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/zone', zone.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
