<div>
    <h3 id="page-heading">
        <span jhiTranslate="gatewayApp.inscriptiondbInscription.home.title">Inscriptions</span>
        <button id="jh-create-entity" class="btn btn-primary btn-sm float-right jh-create-entity create-inscription" [routerLink]="['/inscription/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.inscriptiondbInscription.home.createLabel">new</span>
        </button>
    </h3>
    <form name="filtreData" role="form" [formGroup]="filtreData">
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <!--<div class="col-md-3">
                        <select class="form-control" name="niveau" formControlName="niveau">
                            <option>Select niveau ...</option>
                            <option [value]="niveau">6eme</option>
                        </select>
                    </div>-->
                    <div class="col-md-4">
                        <select class="form-control" name="classe"  formControlName="classe">
                            <option>Select classe...</option>
                           <option [ngValue]="classe?.id" *ngFor="let classe of classes">{{classe?.nom}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="annee"  formControlName="annee">
                            <option>Select année ...</option>
                           <option [ngValue]="annee?.id" *ngFor="let annee of annees">{{annee?.nom}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" id="save-entity" class="btn btn-primary" (click)="afficher()">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span>Search</span>
                        </button>
                        <button type="button" id="cancel-save" class="btn btn-secondary">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span>initialiser</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="alert alert-warning" id="no-result" *ngIf="inscriptions?.length === 0">
        <span jhiTranslate="gatewayApp.inscriptiondbInscription.home.notFound">No inscriptions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inscriptions && inscriptions.length > 0">
        <table class="table table-striped table-hover" aria-describedby="page-heading">
            <thead class="bg-dark">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="dateInscription"><span jhiTranslate="gatewayApp.inscriptiondbInscription.dateInscription">Date Inscription</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="classe"><span jhiTranslate="gatewayApp.inscriptiondbInscription.classe">Classe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transport"><span jhiTranslate="gatewayApp.inscriptiondbInscription.transport">Transport</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cantine"><span jhiTranslate="gatewayApp.inscriptiondbInscription.cantine">Cantine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eleveId"><span jhiTranslate="gatewayApp.inscriptiondbInscription.eleve">Eleve</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeId"><span jhiTranslate="gatewayApp.inscriptiondbInscription.annee">Annee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inscription of inscriptions ;trackBy: trackId">
                    <td>{{ inscription.dateInscription | date:'medium' }}</td>
                    <td>{{ inscription.classeClient?.nom }}</td>
                    <td>{{ inscription.transport }}</td>
                    <td>{{ inscription.cantine }}</td>
                   <!-- <td jhiTranslate="{{ 'gatewayApp.Etat.' + inscription.statut }}">{{ inscription.statut }}</td>-->
                    <td>
                        <div *ngIf="inscription.eleve?.id">
                            <div [routerLink]="['/eleve', inscription.eleve?.id , 'view']" >{{ inscription.eleve?.prenom }} &nbsp; {{ inscription.eleve?.nom }}</div>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inscription.annee?.id">
                            <div [routerLink]="['/annee', inscription.annee?.id , 'view']" >{{ inscription.annee?.nom }}</div>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="" class="bnt btn-secondary btn-sm">
                                <fa-icon icon="user-plus"></fa-icon>
                            </button>
                            <button type="submit" [routerLink]="['/inscription', inscription.id, 'view']" class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit" [routerLink]="['/inscription', inscription.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(inscription)" class="btn btn-danger btn-sm">
                                <fa-icon icon="trash-alt"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>

    <div *ngIf="inscriptions && inscriptions.length > 0">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
