<div class="row justify-content-center">
    <div class="col-12">
        <form class="forme" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="badges">
                <span class="badge badge-dark" id="jhi-salle-heading" jhiTranslate="gatewayApp.immoblierSalle.home.createOrEditLabel">
                    Create or edit a Salle
                </span>
            </div>
            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="row">
                    <div class="col-md-12">
                        <div hidden class="form-group">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.immoblierSalle.nom" for="field_nom">Nom</label>
                            <input type="text" class="form-control" name="nom" id="field_nom" formControlName="nom"/>
                            <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.immoblierSalle.nombre" for="field_nombre">Nombre</label>
                            <input type="number" class="form-control" name="nombre" id="field_nombre"
                                   formControlName="nombre"/>
                            <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.get('nombre')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.immoblierSalle.batiment" for="field_batiment">Batiment</label>
                            <select class="form-control" id="field_batiment" name="batiment" formControlName="batiment">
                                <option [ngValue]="null"></option>
                                <option  *ngFor="let batiment of batiments; trackBy: trackById" [ngValue]="batiment.id">{{ batiment.nom}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>

        </form>
    </div>
</div>
