<div>
    <h3 id="page-heading">
        <span class="font" jhiTranslate="gatewayApp.classe1Matiere.home.title">Matieres</span>
        <button id="jh-create-entity" class="btn btn-primary btn-sm float-right jh-create-entity create-matiere" [routerLink]="['/matiere/new']"><fa-icon icon="plus"></fa-icon>
            <span  class="font" jhiTranslate="gatewayApp.classe1Matiere.home.createLabel">New</span>
        </button>
    </h3>
    <div class="pb-1">
        <input class="form-control font" type="text" name="recherche" placeholder="Rechercher...">
    </div>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="matieres?.length === 0">
        <span jhiTranslate="gatewayApp.classe1Matiere.home.notFound">No matieres found</span>
    </div>

    <div class="table table-striped table-hover" id="entities" *ngIf="matieres && matieres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead class="bg-dark">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                   <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="nom" class="font"><span jhiTranslate="gatewayApp.classe1Matiere.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let matiere of matieres ;trackBy: trackId">
                   <!-- <td><a [routerLink]="['/matiere', matiere.id, 'view']">{{ matiere.id }}</a></td>-->
                    <td class="font">{{ matiere.nom }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/matiere', matiere.id, 'view']" class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit" [routerLink]="['/matiere', matiere.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(matiere)" class="btn btn-danger btn-sm">
                                <fa-icon icon="trash-alt"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div *ngIf="matieres && matieres.length > 0">
        <div class="row justify-content-center font">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
