<div>
    <h3 id="page-heading">
        <span class="font" jhiTranslate="gatewayApp.classe1Niveau.home.title">Niveaus</span>

        <button id="jh-create-entity" class="btn btn-primary btn-sm float-right jh-create-entity create-niveau" [routerLink]="['/niveau/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  class="font" jhiTranslate="gatewayApp.classe1Niveau.home.createLabel">
            Create a new Niveau
            </span>
        </button>
    </h3>
    <div class="pb-1">
        <input class="font" class="form-control" type="text" placeholder="Rechercher...">
    </div>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="niveaus?.length === 0">
        <span jhiTranslate="gatewayApp.classe1Niveau.home.notFound">No niveaus found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="niveaus && niveaus.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead class="bg-dark">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th class="font" scope="col"  jhiSortBy="nom"><span jhiTranslate="gatewayApp.classe1Niveau.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let niveau of niveaus ;trackBy: trackId">
                    <td class="font">{{ niveau.nom }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/niveau', niveau.id, 'view']" class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit" [routerLink]="['/niveau', niveau.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(niveau)" class="btn btn-danger btn-sm">
                                <fa-icon icon="trash-alt"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div *ngIf="niveaus && niveaus.length > 0">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
