<form *ngIf="horaire" name="deleteForm" (ngSubmit)="confirmDelete(horaire?.id!)">
    <div class="modal-header">
        <h5 id="justify-center" class="modal-title" jhiTranslate="entity.delete.title">Confirm !</h5>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-horaire-heading" class="p-delete" jhiTranslate="gatewayApp.coursHoraire.delete.question" [translateValues]="{ id: horaire?.id }">Are you sure you want to delete this Horaire?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="jhi-confirm-delete-horaire" type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
