<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-reglement-heading" jhiTranslate="gatewayApp.paiementdbReglement.home.createOrEditLabel">Create or edit a Reglement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementdbReglement.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementdbReglement.montantInscription" for="field_montantInscription">Montant Inscription</label>
                    <input type="text" class="form-control" name="montantInscription" id="field_montantInscription"
                           formControlName="montantInscription"/>
                    <div *ngIf="editForm.get('montantInscription')!.invalid && (editForm.get('montantInscription')!.dirty || editForm.get('montantInscription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantInscription')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementdbReglement.mensualite" for="field_mensualite">Mensualite</label>
                    <input type="text" class="form-control" name="mensualite" id="field_mensualite"
                           formControlName="mensualite"/>
                    <div *ngIf="editForm.get('mensualite')!.invalid && (editForm.get('mensualite')!.dirty || editForm.get('mensualite')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mensualite')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementdbReglement.montantCantine" for="field_montantCantine">Montant Cantine</label>
                    <input type="number" class="form-control" name="montantCantine" id="field_montantCantine"
                           formControlName="montantCantine"/>
                    <div *ngIf="editForm.get('montantCantine')!.invalid && (editForm.get('montantCantine')!.dirty || editForm.get('montantCantine')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantCantine')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('montantCantine')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementdbReglement.montantTransport" for="field_montantTransport">Montant Transport</label>
                    <input type="number" class="form-control" name="montantTransport" id="field_montantTransport"
                           formControlName="montantTransport"/>
                    <div *ngIf="editForm.get('montantTransport')!.invalid && (editForm.get('montantTransport')!.dirty || editForm.get('montantTransport')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantTransport')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('montantTransport')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementdbReglement.idNiveau" for="field_idNiveau">Id Niveau</label>
                    <input type="text" class="form-control" name="idNiveau" id="field_idNiveau"
                           formControlName="idNiveau"/>
                    <div *ngIf="editForm.get('idNiveau')!.invalid && (editForm.get('idNiveau')!.dirty || editForm.get('idNiveau')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idNiveau')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementdbReglement.idAnnee" for="field_idAnnee">Id Annee</label>
                    <input type="text" class="form-control" name="idAnnee" id="field_idAnnee"
                           formControlName="idAnnee"/>
                    <div *ngIf="editForm.get('idAnnee')!.invalid && (editForm.get('idAnnee')!.dirty || editForm.get('idAnnee')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idAnnee')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
