<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" class="forme" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="badges">
                <span class="badge badge-dark" id="jhi-eleve-heading" jhiTranslate="gatewayApp.inscriptiondbEleve.home.createOrEditLabel">Create or edit a Eleve</span>
            </div>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.photo" for="field_photo">Photo</label>
                            <div>
                                <img [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value" style="max-height: 100px;" *ngIf="editForm.get('photo')!.value" alt="eleve image"/>
                                <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
                                    <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'file_photo')" class="btn btn-secondary btn-xs pull-right">
                                        <fa-icon icon="times"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_photo" (change)="setFileData($event, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                            </div>
                            <input type="hidden" class="form-control" name="photo" id="field_photo" formControlName="photo"/>
                            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType" formControlName="photoContentType" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.prenom" for="field_prenom">Prenom</label>
                            <input type="text" class="form-control" name="prenom" id="field_prenom" placeholder="Prenom" formControlName="prenom"/>
                            <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('prenom')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('prenom')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                                    This field is required to be at least 2 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('prenom')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                                    This field cannot be longer than 30 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.nom" for="field_nom">Nom</label>
                            <input type="text" class="form-control" name="nom" id="field_nom" placeholder="Nom" formControlName="nom"/>
                            <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('nom')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                                    This field is required to be at least 2 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('nom')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                                    This field cannot be longer than 30 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.matricule" for="field_matricule">Matricule</label>
                            <input type="text" class="form-control" name="matricule" id="field_matricule" formControlName="matricule"/>
                            <div *ngIf="editForm.get('matricule')!.invalid && (editForm.get('matricule')!.dirty || editForm.get('matricule')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('matricule')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('matricule')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                                    This field is required to be at least 2 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('matricule')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                                    This field cannot be longer than 30 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                            <div class="input-group">
                                <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker #dateNaissanceDp="ngbDatepicker" formControlName="dateNaissance" placeholder="Date de Naissance"/>
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                            </div>
                            <div *ngIf="editForm.get('dateNaissance')!.invalid && (editForm.get('dateNaissance')!.dirty || editForm.get('dateNaissance')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('dateNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
                            <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance" placeholder="Lieu de naissance"
                                   formControlName="lieuNaissance"/>
                            <div *ngIf="editForm.get('lieuNaissance')!.invalid && (editForm.get('lieuNaissance')!.dirty || editForm.get('lieuNaissance')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('lieuNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.adresse" for="field_adresse">Adresse</label>
                            <textarea class="form-control" name="adresse" id="field_adresse"
                                      formControlName="adresse"></textarea>
                            <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('adresse')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.telephone" for="field_telephone">Telephone</label>
                            <input type="text" class="form-control" name="telephone" id="field_telephone" formControlName="telephone"/>
                            <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('telephone')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                                    This field is required to be at least 2 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('telephone')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 12 }">
                                    This field cannot be longer than 12 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.email" for="field_email">Email</label>
                            <input type="text" class="form-control" name="email" id="field_email"
                                   formControlName="email"/>
                            <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.sexe" for="field_sexe">Sexe</label>
                            <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe">
                                <option value="MASCULIN">{{ 'gatewayApp.Sexe.MASCULIN' | translate }}</option>
                                <option value="FEMININ">{{ 'gatewayApp.Sexe.FEMININ' | translate }}</option>
                            </select>
                            <div *ngIf="editForm.get('sexe')!.invalid && (editForm.get('sexe')!.dirty || editForm.get('sexe')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('sexe')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.inscriptiondbEleve.tuteur" for="field_tuteur">Tuteur</label>
                            <select class="form-control" id="field_tuteur" name="tuteur" formControlName="tuteur">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="tuteurOption.id" *ngFor="let tuteurOption of tuteurs; trackBy: trackById">{{ tuteurOption.prenom }} &nbsp; {{ tuteurOption.nom }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
