<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="annee" class="forme">
            <div class="badges">

                <span class="badge badge-dark">
                    <span jhiTranslate="gatewayApp.inscriptiondbAnnee.detail.title">Annee</span> {{ annee.id }}
                </span>

            </div>

            <jhi-alert-error></jhi-alert-error>

            <div class="card jh-card">
                <div class="row text-center">
                    <div class="col-md-4">
                        <span jhiTranslate="gatewayApp.inscriptiondbAnnee.nom" class="font-weight-bold">Nom</span> :
                        <span>{{ annee.nom }}</span>
                    </div>
                    <div class="col-md-4">
                        <span jhiTranslate="gatewayApp.inscriptiondbAnnee.dateDebut" class="font-weight-bold">Date Debut</span> :
                        <span>{{ annee.dateDebut| date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-4">
                        <span jhiTranslate="gatewayApp.inscriptiondbAnnee.dateFin" class="font-weight-bold">Date Fin</span> :
                        <span>{{ annee.dateFin | date:'mediumDate'}}</span>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
            <button type="button" [routerLink]="['/annee', annee.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
