<form *ngIf="batiment" name="deleteForm" (ngSubmit)="confirmDelete(batiment?.id!)">
    <div class="modal-header">
        <h5 id="justify-center" class="modal-title" jhiTranslate="entity.delete.title">Confirm !</h5>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-batiment-heading"  class="p-delete" jhiTranslate="gatewayApp.immoblierBatiment.delete.question" [translateValues]="{ id: batiment.nom }">Are you sure to delete this ?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-batiment" type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
